<h1>Convert time to english words</h1>

<%= form_tag({:action => :gettime}) do %>
    <div class="field">
      <%= label_tag("time", 'Give the time:') %><br />
      <%= text_field_tag("time") %>
    </div>
    <div class="actions">
      <%= submit_tag("Show me!") %>
    </div>
<% end %>

<% if flash[:notice] %>
    <p class="notice"><%= flash[:notice] %></p>
<% end %>
<% if flash[:error] %>
    <p class="error"><%= flash[:error] %></p>
<% end %>